.card
  %h3.center-align Add Extra Charges of  Terminals
  -grand_total = 0
  -if !@todays_terminals.empty?
    =form_tag('save_terminal_extra_charges', method: "POST", id:"terminal_extra_charges_form") do
      .table-responsive
        %table.table-hover.table-bordered{align: 'center'}
          %thead
            %tr
              %th.center-align #
              %th.center-align Name
              %th.center-align Total
              %th.center-align Input Extra Charges
          %tbody
            - @todays_terminals.each_with_index do |terminal,i|
              %tr  
                %td.center-align= i+1
                %td.center-align= terminal.name
                %td.center-align= terminal.total
                - grand_total = grand_total + terminal.total
                - @terminal_id = terminal.id
                = hidden_field_tag("terminal_extra_charges_form[][terminal_id]", @terminal_id)
                %td= number_field_tag "terminal_extra_charges_form[][daily_extra_charge]", 0, min: 0
      
      = submit_tag "Add"
  -else
    .alert.alert-success
      No order is placed today!!