.modal-dialog{:role => "document"}
  .modal-content
    = simple_form_for [@current_company,@terminal, @menu_item], remote: true do |f| 
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title New Menu Item 
      .modal-body
        .form-group
          .col-md-6
            = f.input :name, required: true
          .col-md-6
            = f.input :price, required: true
        = f.input :description 
        = f.input :veg,requred: true,as: :radio_buttons
        / = f.input :active_days, as: :check_boxes, collection: active_days_collection, :item_wrapper_class => 'inline', include_hidden: false
        = f.collection_check_boxes :active_days, [[1, 'Monday'], [2, 'Tuesday'], [3,'Wednsday'], [4,'Thursday'], [5,'Friday']], :first, :last, :include_hidden => false  
        = f.input :available, required: true, as: :boolean
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "submit"} Add 