.modal-dialog{:role => "document"}
  .modal-content
    = simple_form_for(@menu_item, :url => terminal_menu_items_path(@terminal, :terminal_id => params[:terminal_id]), remote: true) do |f|  
      .modal-header
        / %button.close.modal-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        / %span{"aria-hidden" => "true"} ×
        %h4.modal-title.text-center New Menu Item
        .form-group
          .col-md-8
            = f.input :name, required: true
          .col-md-4
            = f.input :price, required: true
        .form-group
          .col-md-9
            = f.input :description 
          .col-md-3  
            = f.input :veg,requred: true,as: :radio_buttons
        / = f.input :active_days, as: :check_boxes, collection: active_days_collection, :item_wrapper_class => 'inline', include_hidden: false
        .form-group
          .col-md-12
            = f.collection_check_boxes :active_days, [["1", 'Monday'], ["2", 'Tuesday'], ["3",'Wednsday'], ["4",'Thursday'], ["5",'Friday'], ["6",'Saturday'], ["7",'Sunday']], :first, :last, include_hidden: false, checked: ["1", "2", "3","4", "5"]
          .col-md-12   
            = f.input :available, required: true, as: :boolean
      .modal-footer
        %button.btn.btn-default.modal-close{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "submit"} Add 