.container
  .row.cont
    .col-lg-6.menu
      %h6 Today's Menu
      %br/
      - @menus.each_with_index do |object,i|
        %div
          - if object.veg == true
            %h4.text-success= object.name 
          - else  
            %h4.text-danger= object.name
          %h2.text-left= object.terminal.name 
          %span.label.label-default= object.price
          %form.selector{:id => "form-btn_#{i}"}
            %input.number{:type => "button", :value => "-",:class =>'qtyminus',:field =>'quantity'}/
            %input.number{:type => "text",:value => "1",:name => 'quantity',:class => 'qty'}/
            %input.number{:type => "button", :value => "+",:class =>'qtyplus',:field =>'quantity'}/     
          %button.btn.btn-info.btn-sm{:type => "button"} ADD
          %hr/  
    .col-lg-6.cart
      .card.text-center
        .card-header
          Your Order
        .card-block
          .row.order
    
        .card-footer.text-muted
          .col-sm-6 Total
          .col-sm-6.total 0
          %button.btn-block Place Order

