
-if flash[:error].present?
  = flash[:error]

%h1.text-center{:style=>"color:white"} EMPLOYEES
/Search Bar#################################
.container-fluied
  .row
    .col-md-4.col-sm-4
    .col-md-6.col-sm-6
      %form{"accept-charset" => "UTF-8", :action => "users/search",:page => params[:page], :method => "get"}
        %input#search_bar{:name => "search_value", :type => "text", :required=> true, :placeholder=> "name / email...."}
        %input{:name => "commit", :type => "submit", :value => "Search", :class => "btn btn-primary"}
        =link_to  "RESET",company_users_path(@company.id), :class=> "btn btn-primary"
    / .col-md-3.col-sm-3
%br
%br
%br

.container
  %table.table.table-fixed{:border =>3,:align=>"center",:style=>"width:60%;background-color:white"}
   
    
    %tbody
      %tr
        %th 
          .text-center
            NAME
        %th
          .text-center
            EMAIL ID 
        %th 
          .text-center
            STATUS
        %th 
          .text-center
            ACTION
      %tr
        =render "common_index" ,object: @user, as: 'user'

.text-center
  = paginate @users
/ %h3 Import Data
.text-center
  %h2 Import Products
  = form_tag import_company_users_path, multipart: true do
    = file_field_tag :file , accept: '.csv ' 
    = submit_tag "Import"