
/ -if flash.now[:error].present?
/   = flash.now[:error]

%h1.text-center{:style=>"color:white"} EMPLOYEES
/Search Bar#################################
.container
  .row
    .col-md-6.col-sm-6{:style => "border: 1px solid"}
      %h4.text-center Add Employee Records
      .col-md-6.col-sm-6
        = form_tag import_company_users_path,id: "import_form", multipart: true do
          = file_field_tag :file , accept: '.csv ' 
          = submit_tag "Import"
      .col-md-3.col-sm-3
        %button.btn.btn-info{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Add Single Record
      .col-md-3.col-sm-3

    .col-md-4.col-sm-4
      = form_tag({controller: "users", action:"search"}, method: "get") do
        = label_tag(:search_value, "Search for:")
        = text_field_tag(:search_value)
        = submit_tag("Search")
      =link_to  "RESET",company_users_path(@company.id), :class=> "btn btn-primary"
  
%br
%br
%br

.container-fluid
  %table.table.table-fixed{:border =>3,:align=>"center",:style=>"width:60%;background-color:white"}
   
    
    %tbody
      %tr
        %th 
          .text-center
            NAME
        %th
          .text-center
            EMAIL ID 
        %th 
          .text-center
            STATUS
        %th 
          .text-center
            ACTION
      %tr
        =render "common_index" ,object: @user, as: 'user'

.text-center
  = paginate @users

/ .container-fluid
/   .center
/     %h2 Add Employee Records
/     = form_tag import_company_users_path,id: "import_form", multipart: true do
/       = file_field_tag :file , accept: '.csv ' 
/       = submit_tag "Import"