!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TheHungerTerminal
   
  %body   
    .jumbotron
      .container.text-center
        %h1 Welcome to the Hunger Terminal
        -if !user_signed_in?
          %h2 Want to be a part of this application??
          %h2
            %span.glyphicon.glyphicon-chevron-down
          = link_to "Sign up now!", new_company_path, class: "btn btn-lg btn-primary"
    .container.bg-3.text-center
      %h4{:style => "text-align:center;"} Get Your food at your doorstep
      %br/
      %button.btn.btn-success.wrapper.btn-lg{"data-target" => "#steps", "data-toggle" => "collapse", :type => "button"} See How

      #steps.collapse
        .container
          .row
            .col-md-3
              .step-one 1. Login
              .login-image= image_tag("login1.png",width:"55px",height:"34px")
              .description If already a member then login to our site
            .col-md-3
              .step-one 2. Choose
              .login-image= image_tag("choice.png",width:"55px",height:"34px")
              .description Browse to find the vendors and their menus to find the food you like
            .col-md-3
              .step-one 3. Order
              .login-image= image_tag("order.png",width:"55px",height:"34px")
              .description Place an order of the food you want
            .col-md-3
              .step-one 4. Enjoy
              .login-image= image_tag("enjoy_food.png",width:"55px",height:"34px")
              .description Food is prepared and delivered to your door
              
    .container.bg-3.text-center
      .row
        %h4 Our Associates 
      .container
        .row
          .col-md-2
            .thumbnail
              = image_tag("foodpandalogo.jpg", class: "img-responsive",width:"80%", height:"100%")
          .col-md-2
            .thumbnail
              = image_tag("dominos.png", class: "img-responsive",width:"80%", height:"100%")
          .col-md-2
            .thumbnail
              = image_tag("swiggy.png", class: "img-responsive",width:"80%", height:"100%")
          .col-md-2
            .thumbnail
              = image_tag("rollsmania1.png", class: "img-responsive",width:"80%", height:"100%")
          .col-md-2
            .thumbnail
              = image_tag("venkys.png", class: "img-responsive", width:"80%", height:"100%")
          .col-md-2
            .thumbnail
              = image_tag("Faasos_Logo.jpg", class: "img-responsive", width:"80",height: "100%")
