!!!
%html
  %head
    // %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title The Hunger Terminal
   
  %body.home-body
    .section.white.top-section
      .container.center-align
        %h4.header Food ordering made easy for corporate employees
        -if !user_signed_in?
          = link_to "Employee Login", user_session_path, class: "btn grey darken-4"
    -if !user_signed_in?
      .parallax-container
        .how-it-works
          How it works?
          = image_tag "how-it-works-graphics.svg"
        .parallax
          = image_tag "home-bg.jpg"
        = link_to "Click here to try this for your company", new_company_path, class: "company-login-link"

    .section.white
      .container
        .row
          .col.s12.m10.offset-m1
            .row
              .col.s12.center-align
                %h4.header.padding-bottom-50.padding-top-100 Our Associates
              .col.s12
                .thumbnail
                  = image_tag "chandrama2.jpg"
                .thumbnail
                  = image_tag "saisagar1.jpg"
                .thumbnail
                  = image_tag "giridhar6.jpg"
                .thumbnail
                  = image_tag "eatsome2.png"
                .thumbnail
                  = image_tag "chaitanya3.jpg"
                .thumbnail
                  = image_tag "locavore11.png"
