<!DOCTYPE html>
<html>
  <head>
    <title>TheHungerTerminal</title>
    <%= stylesheet_link_tag  'home' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Welcome to the Hunger Terminal</h1>

        <h2>Want to be a part of this application??</h2>

        <h2><span class="glyphicon glyphicon-chevron-down"></span></h2>

        <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
      </div>
    </div>

    <div class="container-fluid bg-3 text-center">
      <h3 style="text-align:center;">Get Your food at your doorstep</h3>
      <br>
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#steps">See How</button>
      <div id="steps" class="collapse">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="step-one">1. Login</div>
              <div class="login-image"><%= image_tag("login1.png",width:"55px",height:"34px") %></div>
              <div class="description">If already a member then login to our site</div>
            </div>
            <div class="col-md-3">
              <div class="step-one">2. Choose</div>
              <div class="login-image"><%= image_tag("choice.png",width:"55px",height:"34px") %></div>
              <div class="description">Browse to find the vendors and their menus to find the food you like</div>
            </div>
            <div class="col-md-3">
              <div class="step-one">3. Order</div>
              <div class="login-image"><%= image_tag("order.png",width:"55px",height:"34px") %></div>
              <div class="description">Place an order of the food you want</div>
            </div>
            <div class="col-md-3">
              <div class="step-one">4. Enjoy</div>
              <div class="login-image"><%= image_tag("enjoy_food.png",width:"55px",height:"34px") %></div>
              <div class="description">Food is prepared and delivered to your door</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="container-fluid bg-3 text-center">
      <div class="row">
        <h4>Our Associates</h4>
      </div> 
      <div class="container"> 
        <div class="row" style="margin: 0; display: inline-block; float: left;" >
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("foodpandalogo.jpg", class: "img-responsive",width:"80%", height:"100%") %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("dominos.png", class: "img-responsive",width:"80%", height:"100%") %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("swiggy.png", class: "img-responsive",width:"80%", height:"100%") %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("rollsmania1.png", class: "img-responsive",width:"80%", height:"100%") %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("venkys.png", class: "img-responsive", width:"80%", height:"100%") %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag("Faasos_Logo.jpg", class: "img-responsive", width:"80",height: "100%") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>