.modal-dialog{role: 'document'}
  .modal-content
    .modal-header
      -if skipped?(@order)
        %button.close{'data-dismiss': 'modal'}Close
      -else
        %button.close=link_to 'Skip >>', skip_review_path(order: @order), remote: true
      %h2.modal-title Review
      .modal-body
        %h4 Vendor name : #{@order.terminal.name}
        = form_tag reviews_path, id: 'review_form', remote: true do
          = fields_for 'order' do |f|
            = f.hidden_field :id, value: @order.id
          = fields_for 'reviews[]', @review do |f|
            %br= f.label :rating
            .rate
              = render 'rating_stars', i: 0
            %br=f.label :comment
            = f.text_area :comment, cols: 50, rows: 3, id: 'terminal_comment'
            = f.hidden_field :reviewable_type, value: 'Terminal'
            = f.hidden_field :reviewable_id, value: @order.terminal.id
            %br
          :javascript
            $('#terminal_comment').text('');
          - @order.order_details.each_with_index do |detail, i|
            %br
            %br
            %h4 Item name : #{detail.menu_item.name}
            = fields_for 'reviews[]', @review do |f|
              %br= f.label :rating
              .rate
                = render 'rating_stars', i: i + 1
              %br=f.label :comment
              = f.text_area :comment, cols: 50, rows: 3, id: "comment#{i}"
              %br
              = f.hidden_field :reviewable_type, value: 'MenuItem' 
              = f.hidden_field :reviewable_id, value: @order.order_details[i].menu_item_id
            :javascript
              $('#comment#{i}').text('');
            %br
          %br
          .modal-footer
            %button.btn.btn-secondary{'data-dismiss': 'modal', type: 'button'}Close
            %button.btn.btn-primary{type: 'submit'}Submit
