.div
  -if orders.empty?
    .alert.alert-danger
      .card
        No Record Exist for this period!!
  -else
    -grand_total = grand_tax = grand_discount = grand_extra_charges = grand_payable =0
    %table.responsive-table
      %thead
        %tr
          %th Date
          %th Total
          %th Tax
          %th Discount 
          %th Extra Charges 
          %th Payable 
          %th Items(Qty)
          %th Vendor
          %th comments & Ratings
      %tbody
      -orders.each do |order|
        %tr
          %td= order.date
          %td= order.total_cost
          - grand_total += order.total_cost
          %td= order.tax
          - grand_tax += order.tax
          %td= order.discount
          - grand_discount += order.discount
          %td= order.extra_charges
          -grand_extra_charges += order.extra_charges
          %td= order.total_cost - order.discount + order.extra_charges + order.tax
          - grand_payable += order.total_cost - order.discount + order.extra_charges + order.tax
          %td
            - order.order_details.each_with_index do |order_item,index|
              - indexplusone = index+1
              %span #{indexplusone}. #{order_item.menu_item_name}(#{order_item.quantity})
              %br
          /%td= order.terminal.name
          %td= order.terminal.name
          - if order.is_order_reviewed?
            %td 
              = link_to  enter_review_path(order_id: order.id), remote: true do
                %i.material-icons{class: 'small rate_review',"aria-label" => "Add Reviews",}rate_review
      - if grand_total != 0
        %tr
          %td= 'Aggregate Amount '
          %td= grand_total
          %td= grand_tax
          %td= grand_discount
          %td= grand_extra_charges
          %td= grand_payable
          %td
          %td
#history_feedback.modal.fade{'aria-labelledby' => 'Enter Review', role: 'dialog', tabindex: '-1'}
