.container
  .col-md-7
    %table#cart.table.table-hover.table-condensed
      %thead
        %tr
          %th{:style => "width:45%"} Product
          %th{:style => "width:15%"} Price
          %th{:style => "width:8%"} Quantity
          %th.text-center{:style => "width:32%"} Subtotal
      %tbody
        - @order.order_details.each do |order_detail|
          %tr{:id => "#{order_detail.menu_item.id}"} 
            %td{"data-th" => "Product"}
              .row
                .col-sm-12
                  %h4.product-name.nomargin= order_detail.menu_item.name
                  %h6.vendor-name= order_detail.menu_item.description
                  %span.hide.menu_item_id= order_detail.menu_item.id
                  %span.hide.order_detail_id= order_detail.id
            %td
              %span ₹
              %span.price{"data-th" => "Price"}= order_detail.menu_item.price
            %td{"data-th" => "Quantity"}
              %input.form-control.text-center.item-qty{:type => "number", :value => order_detail.quantity, :min => 0}/
            %td.text-center
              %span ₹
              %span.sub-total{"data-th" => "Subtotal"} #{order_detail.quantity * order_detail.menu_item.price }


  .col-md-5
    = simple_form_for @order, url: order_path(@order), html: { method: :patch, class: 'form-horizontal' } do |f|
      .panel.panel-info
        .panel-heading
          .panel-title
            .row
              .col-xs-6
                %h5
                  %span.glyphicon.glyphicon-shopping-cart
                  Food Cart
        .panel-body
          .order-details
          
          #order_details
        .panel-footer
          .row.text-center
            .col-xs-8
              %h4.text-right
                Total
                %strong#total ₹0.00
              %input.hide.form-control.input-sm#order_total_cost{:type => "text", :value => "0", name: "order[total_cost]"}
              %input.hide.form-control.input-sm#order_terminal_id{:type => "text", :value => @terminal_id, name: "order[terminal_id]"}
            .col-xs-4
              %button.btn.btn-success.btn-block{:type => "submit"}
                Place Order
              


%script#order_detail_template{:type => 'text/html'}
  {{#.}}
  .row{"data-menu-item-id": "{{menu_item_id}}" }
    .col-xs-4
      %h4.product-name
        %strong
          {{menu_item_name}}
        %input.hide{:type => "text", :value => "{{id}}",name: "order[order_details_attributes]{{menu_item_id}}][id]"}
      %h4
      %h4
        %small
          {{vendor_name}}

    .col-xs-6
      .col-xs-6
        %input.form-control.input-sm#order_detail_qty{:type => "text", :value => "{{quantity}}", name: "order[order_details_attributes][{{menu_item_id}}][quantity]"}
      .col-xs-6.text-right
        %h6
          %strong.total
            {{total}}
    .col-xs-2
      %button.btn.btn-link.btn-xs.delete{:type => "button"}
        %span.glyphicon.glyphicon-trash
  {{/.}}


%script{:type => 'text/javascript'}
  order_details = #{raw @order.order_details.to_json};
  load_orders_data(order_details)