.container
  %h3#vendorName #{@terminal.name.titleize}
  .col-md-7.col-sm-7
    %table#cart.table.table-hover.table-condensed
      %thead
        %tr
          %th{:style => "width:45%"} Product
          %th{:style => "width:15%"} Price
          %th{:style => "width:8%"} Quantity
          %th.text-center{:style => "width:32%"} Subtotal
      %tbody
        - @order_details.each do |order_detail|
          %tr{:id => "#{order_detail.menu_item_id}"} 
            %td{"data-th" => "Product"}
              .row
                .col-sm-12
                  - if order_detail.menu_item.veg == true
                    %h4.product-name.nomargin.veg= order_detail.menu_item.name
                  -else
                    %h4.product-name.nomargin.non-veg= order_detail.menu_item.name
                  %h6.vendor-name= order_detail.menu_item.description
                  %span.hide.menu_item_id= order_detail.menu_item.id
                  %span.hide.order_detail_id= order_detail.id
            %td
              %span ₹
              %span.price{"data-th" => "Price"}= order_detail.menu_item.price
            %td{"data-th" => "Quantity"}
              %input.form-control.text-center.item-qty{:type => "number",:value => order_detail.quantity, :min => 0,:max => 10}/
            %td.text-center
              %span ₹
              %span.sub-total{"data-th" => "Subtotal"}= order_detail.quantity * order_detail.menu_item.price
      -if !@menu_items.nil?        
        - @menu_items.each do |menu_item|
          %tr{:id => "#{menu_item.id}"} 
            %td{"data-th" => "Product"}
              .row
                .col-sm-12
                  - if menu_item.veg == true
                    %h4.product-name.nomargin.veg= menu_item.name
                  - else
                    %h4.product-name.nomargin.non-veg= menu_item.name 
                  %h6.vendor-name= menu_item.description
                  %span.hide.menu_item_id= menu_item.id
            %td
              %span ₹
              %span.price{"data-th" => "Price"}= menu_item.price
            %td{"data-th" => "Quantity"}
              %input.form-control.text-center.item-qty{:type => "number", :value => "0", :min => 0}/
            %td.text-center
              %span ₹
              %span.sub-total{"data-th" => "Subtotal"} 0
      
  .col-md-5
    = simple_form_for @order, url: order_path, html: { method: :patch, class: 'form-horizontal' } do |f|
      = render 'form', f: f
%script#order_detail_template{:type => 'text/html'}
  {{#.}}
  .row{"data-menu-item-id": "{{menu_item_id}}" }
    %input.hide#order_detail_id{:type => "text", :value => "{{id}}",name: "order[order_details_attributes]{{menu_item_id}}][id]"}
    {{#destroy_order_detail_id}}
    %input.hide{:type => "text", :value => "{{id}}",name: "order[order_details_attributes]{{menu_item_id}}][_destroy]"}
    {{/destroy_order_detail_id}}
    .col-xs-4
      %h4.product-name
        %strong
          {{menu_item_name}}
        %input.hide{:type => "text", :value => "{{menu_item_id}}", name: "order[order_details_attributes][{{menu_item_id}}][menu_item_id]"}
      / %h4
      / %h4
      /   %small
      /     {{vendor_name}}

    .col-xs-6
      .col-xs-6
        %input.hide.form-control.input-sm#order_detail_qty{:type => "text", :value => "{{quantity}}", name: "order[order_details_attributes][{{menu_item_id}}][quantity]"}
        %h6
          %strong
            {{quantity}}
      .col-xs-6.text-right
        %h6
          %strong₹
          %strong.total
            {{total}}
    .col-xs-2
      %button.btn.btn-link.btn-s.delete{:type => "button"}
        %span.glyphicon.glyphicon-remove
      / %a.glyphicon.glyphicon-trash.delete{ :"data-confirm" => "Are You Sure?", :"data-remote" => "true", :rel => "nofollow", :"data-method" => "delete", :href => "/order_details/{{id}}"}
  {{/.}} 


%script{:type => 'text/javascript'}
  subsidy = #{@subsidy};
  tax = #{@tax};
  order_details = #{raw @order.order_details.to_json};
  load_orders_data(order_details) 


