.container.load
  .alert.alert-success
    You can order multiple menu items from a single vendor!!
  %h3.text-center Vendor List
  .row
    - @terminals.each do |terminal|
      .col-xs-12.col-md-3
        .card-block.terminal_box.text-center
          %h3.card-title= terminal.name
          %p.card-text.terminal_image= image_tag terminal.image_url(:thumb) if terminal.image?
          %br.p= link_to 'Place Order', new_terminal_order_path(terminal.id), class: 'btn btn-info terminal'
          %span
          - var = terminal.rating.to_f
          - full_star(var).times do
            %i.fa.fa-star
          - if half_star?(var)
            %i.fa.fa-star-half-full
          - empty_star(var).times do
            %i.glyphicon.glyphicon-star-empty
          #{terminal.rating}
          .text-left.terminal.details
            - unless min_order_reached?(terminal)
              %h5 Pending orders' amount&emsp;: ₹ #{terminal.ordered_amount}
              %h5 Minimum order amount&emsp; : ₹ #{terminal.min_order_amount}
            %h5 Confirmation possibility&emsp; : #{terminal.confirmation_possibility} %
