.container.load
  .alert.alert-success
    You can order multiple menu items from a single vendor!!
  %h3.text-center Vendor List
  .row
    - @terminals.each do |terminal|
      .col-xs-12.col-md-3
        .card-block.terminal_box.text-center
          %h3.card-title= terminal.name
          %p.card-text.terminal_image= image_tag terminal.image_url(:thumb) if terminal.image?
          %p= link_to 'Place Order', new_terminal_order_path(terminal.id) ,class:"btn btn-info terminal"
          %br
          .text-left
            - unless terminal.confirmation_possibility == 100
              %h5 Ordered amount           : #{terminal.ordered_amount}
              %h5 Minimum order amount     : #{terminal.min_order_amount}
              %h5 Confirmation possibility : #{terminal.confirmation_possibility} %
