- content_for :inner_header do
  .ht-top-section
    .row
    .row.no-bottom-margin
      .col.s0.m2
      .col.s12.m8
        .row.no-bottom-margin
          .col.s12.m8.grey-text.darken-3-text.instruction-text
            %span.hide-on-med-and-down#order-timer-text Time Left
            %div.red-text.hide-on-med-and-down#order-timer
            %span There is minimum order required to be placed with all the terminals.
            %br
            %span Order will be confirmed if the bar turns all green
          .col.hide-on-med-and-down.s0.m2.todays-order.right
            - if todays_order
              = link_to order_path(todays_order&.id) do
                = image_tag "hot-food.svg", class: 'order-icon'
                = link_to "Today's Order", order_path(todays_order&.id)


%div.shadow-top
.row.ht-scrollable-container
  .col.s0.m2
  .col.s12.m8
    - @terminals.each do |terminal|
      .col.s6.m3
        .card.white.terminal-box
          .card-content.black-text
            / %span.card-title
            .progress
              %i.amount.left.black-text ₹ 0
              %text.center-align.small-text.green-text.lighten-2-text Confirmation Possibility
              .determinate{:style => "width: #{terminal.confirmation_possibility}%"} 
              %i.amount.right.black-text ₹ #{terminal.min_order_amount.to_i}
            %p
              %h6.center-align.black-text= terminal.name
              .center-align
                .thumbnail
                  = image_tag terminal.image_url(:thumb) if terminal.image?
                  = image_tag "enjoy_food.png" unless terminal.image?
              .center-align
                = link_to "Order", new_terminal_order_path(terminal.id), class: "btn grey darken-4"

%script{:type => 'text/javascript'}
  orderTime = "#{@end_ordering_at}"
  today = new Date()
  today = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}`
  $('#order-timer').countdown(`${today} ${orderTime}`, function(event) {
  $(this).html(event.strftime('%H:%M:%S'));
  });