- content_for :inner_header do
  .ht-top-section
    %br
    .row.no-bottom-margin
      .container
        .row.no-bottom-margin
          .col.s12.m8.grey-text.darken-3-text.instruction-text
            %span.hide-on-med-and-down#order-timer-text Time Left
            %div.hide-on-med-and-down#order-timer
            %span Note: There is minimum order required to be placed for some terminals.
            %br
            %span Order will be confirmed if the confirmation possibility turns 100% (i.e all green)
            %br 
          .col.hide-on-med-and-down.s0.m2.todays-order.right
            - if todays_order
              = link_to order_path(todays_order&.id) do
                = image_tag "hot-food.svg", class: 'order-icon'
                = link_to "Today's Order", order_path(todays_order&.id)
%div.shadow-top
.container
  .row
    #terminals
      = render 'terminals', terminals:@terminals 
          
#enter_review.modal.fade{'aria-labelledby' => 'Enter Review', role: 'dialog', tabindex: '-1', "data-backdrop" => 'false'}
- if @order.present? && @order.ask_for_review?
  :javascript
    $('#enter_review').html('#{escape_javascript(render 'reviews/enter_review')}');
    $('#enter_review').modal({
      dismissible: true
    });
    $(document).on('turbolinks:load',function(){
      $('#enter_review').modal('open');
    });
- else 
  :javascript
    $(document).on('turbolinks:load',function(){
      $('#enter_review').modal('close');
    }); 
%script{:type => 'text/javascript'}
  orderTime = "#{@end_ordering_at}"
  today = new Date()
  today = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()}`
  $('#order-timer').countdown(`${today} ${orderTime}`, function(event) { 
  $(this).html(event.strftime('%H:%M:%S'));
  if(event.strftime('%H') > "00" || event.strftime('%M') >  "30"){
  document.getElementById('order-timer').className = " green-text "
  }
  else{
  document.getElementById('order-timer').className = " red-text " 
  }
  });
