- content_for :inner_header do
  .ht-top-section
    .row
      %h3.center-align.terminal-name=link_to @terminal.name, show_comments_path(type_id: @terminal.id, type: @terminal.class), remote: true
      .center
        = render 'show_rating_stars', rating: @avg_rating
        %span
          = link_to show_comments_path(type_id: @terminal.id, type: @terminal.class), remote: true, class: 'blue-text' do
            %i.material-icons{class: 'tiny comment',"aria-label" => "Add Reviews",}comment
            %i.comment_font Reviews
      .center-align
        = link_to 'Changed your mind? Click to try another terminal...', vendors_path, class: 'blue-text'

.container
  .row
    .col.m6.s12
      %br
      %br
      %br     
  .row
    .col.m7.s12
      %table
        %th.tab-th
          %ul.tabs.menu-tabs
            %li.tab.active.teal.lighten-4.tab-li
              %a.black-text{"data-toggle" => "tab", :href => "#veg"}
                %span.material-icons.small.icon-position radio_button_checked
                Veg
            %li.tab.teal.lighten-4.tab-li
              %a.black-text{"data-toggle" => "tab", :href => "#nonveg"}
                %span.material-icons.small.icon-position-non-veg-tab radio_button_checked
                Non-veg
      .div.active#veg
        = render "menu", obj: @veg
      .div#nonveg
        = render "menu", obj: @nonveg


    .col.m5.s12.food-cart-div
      = form_tag terminal_orders_path do |f|
        = render 'form', f: f

#show_comments.modal.fade{'aria-labelledby': 'Show Comments', role: 'dialog', tabindex: '-1'}

%script#order_detail_template{:type => 'text/html'}
  {{#.}}
  .row{"data-menu-item-id": "{{menu_item_id}}" }
    .col.m6.s12
      %h6.product-name
        %strong
          {{menu_item_name}}
        %input.hide{:type => "text", :value => "{{menu_item_id}}", name: "order[order_details_attributes][{{menu_item_id}}][menu_item_id]"}

    .col.m4.s8
      .col.m6.s12
        %input.hide.form-control.input-sm#order_detail_qty{:type => "text", :value => "{{quantity}}", name: "order[order_details_attributes][{{menu_item_id}}][quantity]"}
        %h6  
          %strong
            {{quantity}}
      .col.m6.s12
        %h6  
          %strong₹ 
          %strong.total
            {{total}}
    .col.m2.s4
      %button.btn.btn-link.btn-s.delete_new{:type => "button"}
        %span X
  {{/.}}

%script{:type => 'text/javascript'}
  subsidy = #{@subsidy};
  tax = #{@tax};
