.row
  =link_to 'Go Back', vendors_path, class: 'btn'
  %h3.white-text.center-align #{@terminal.name}

  / - unless min_order_reached?(@terminal)
  /   %h4 Pending orders' amount&emsp;: ₹ #{@terminal.ordered_amount}
  /   %h4 Minimum order amount &emsp;: ₹ #{@terminal.min_order_amount}
  .col.m6.s12
    .h6.white-text
      Extra delivery charges may apply!
    %br
    %br
    %br
    %ul.tabs.menu-tabs
      %li.tab.active.green
        %a{"data-toggle" => "tab", :href => "#veg"} Veg
      %li.tab.red
        %a{"data-toggle" => "tab", :href => "#nonveg"} Non-veg

.row
  .col.m6.s12
    .div.active#veg
      = render "menu", obj: @veg
    .div#nonveg
      = render "menu", obj: @nonveg


  .col.m6.s12
    = form_tag terminal_orders_path do |f|
      = render 'form', f: f

%script#order_detail_template{:type => 'text/html'}
  {{#.}}
  .row{"data-menu-item-id": "{{menu_item_id}}" }
    .col.m6.s12
      %h6.product-name
        %strong
          {{menu_item_name}}
        %input.hide{:type => "text", :value => "{{menu_item_id}}", name: "order[order_details_attributes][{{menu_item_id}}][menu_item_id]"}

    .col.m4.s8
      .col.m6.s12
        %input.hide.form-control.input-sm#order_detail_qty{:type => "text", :value => "{{quantity}}", name: "order[order_details_attributes][{{menu_item_id}}][quantity]"}
        %h6  
          %strong
            {{quantity}}
      .col.m6.s12
        %h6  
          %strong₹ 
          %strong.total
            {{total}}
    .col.m2.s4
      %button.btn.btn-link.btn-s.delete_new{:type => "button"}
        %span X
  {{/.}}

%script{:type => 'text/javascript'}
  subsidy = #{@subsidy};
  tax = #{@tax};
