.container
  .alert.alert-danger
    Extra delivery charges may apply!!
  %h3#vendorName #{@terminal.name.titleize}
  - unless @terminal.min_order_amount == 0
    %h4 Ordered amount : #{Order.where(status: 'pending',terminal_id: @terminal.id).sum(:total_cost)}
    %h4 Minimum order amount : #{@terminal.min_order_amount}
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#veg"} Veg
    %li
      %a{"data-toggle" => "tab", :href => "#nonveg"} Non-veg
  .tab-content.col-md-7.col-sm-7
    .tab-pane.fade.in.active#veg
      = render "menu", obj: @veg
    .tab-pane.fade#nonveg
      = render "menu", obj: @nonveg


  .col-md-5
    = form_tag terminal_orders_path do |f|
      = render 'form', f: f
%script#order_detail_template{:type => 'text/html'}
  {{#.}}
  .row{"data-menu-item-id": "{{menu_item_id}}" }
    .col-xs-4
      %h4.product-name
        %strong
          {{menu_item_name}}
        %input.hide{:type => "text", :value => "{{menu_item_id}}", name: "order[order_details_attributes][{{menu_item_id}}][menu_item_id]"}

    .col-xs-6
      .col-xs-6
        %input.hide.form-control.input-sm#order_detail_qty{:type => "text", :value => "{{quantity}}", name: "order[order_details_attributes][{{menu_item_id}}][quantity]"}
        %h6  
          %strong
            {{quantity}}
      .col-xs-6.text-right
        %h6  
          %strong₹ 
          %strong.total
            {{total}}
    .col-xs-2
      %button.btn.btn-link.btn-s.delete_new{:type => "button"}
        %span.glyphicon.glyphicon-remove
  {{/.}}

%script{:type => 'text/javascript'}
  subsidy = #{@subsidy};
  tax = #{@tax};
