.container
  %h3.text-center Order History
  .row
    .col-sm-12
      %span Filter orders by date range : 
      %input{:type => "text", :placeholder => "From Date", :class => "from", :value => @from_date, :id =>"fromDate"}/
      %input{:type => "text", :class => "to", :placeholder => "To Date", :value => @to_date, :id =>"toDate"}/
      %button.btn.btn-info#bton{:type => "button"}Find
    %br
    %br
    %br
    .card 

      -if @orders.empty?
        .alert.alert-danger
          No record is found!!
      -else
        %table.table.table-hover.table-bordered.order_history_table
          %thead
            %tr
              %th Date
              %th Total
              %th Discount 
              %th Extra Charges 
              %th Payable 
              %th Items(Qty)
          %tbody
          -@orders.each do |order|
            %tr
              %td= order.date
              %td= order.total_cost
              %td= order.discount
              %td= order.extra_charges
              %td= order.total_cost - order.discount + order.extra_charges
              %td
                - order.order_details.each_with_index do |order_item,index|
                  - indexplusone = index+1
                  %span #{indexplusone}. #{order_item.menu_item_name}(#{order_item.quantity})
                  %br
             