.card.center.Absolute-Center.is-Responsive
  .card-title
    Company Order Details

  .card-content#companyId{data: {company_id: @company.id}}
    = simple_form_for @company , url: company_path(@company), method: "PATCH" do |f|
      .form-group
        .row
          .col.s6
            = f.input :subsidy,input_html: { :input_type => "number",:min => 0, :max => 100, id: "subsidy" }
          .col.s6.start_ordering_at
            = f.input :start_ordering_at, input_html: {id: "start_ordering_at"} 

      .form-group
        .row
          .col.s6
            = f.input :end_ordering_at, id: "end_ordering_at"
          .col.s6
            = f.input :review_ordering_at, id: "review_ordering_at"

      
      .form-group
  
        = f.submit 'submit', class: "btn btn-primary", id: "submit_order_details"
