= stylesheet_link_tag 'companies'
%br
%br
%h3.text-center{:style=>"color:white"} Companies
%br
%br
%table.table-condensed.table-hover{:border =>3,:align=>"center",:style=>"width:60%;background-color:white"}
  %tbody  
    - @companies.each do |company|
      %tr
        %td= company.name
        
        -$name= company.name
        %td= link_to "show",company_path(company.id)

        %td= link_to "Update Company Details",edit_company_path(company.id, "page" => params[:page])

        %td= link_to "delete",company_path(company.id),method: :delete,data: { confirm: 'Are you sure?' }

        %td= link_to  "Update company admin", edit_company_user_path(company.id,company.employees.find_by(:role => "company_admin"), "page"=>params[:page])

.text-center
  = paginate @companies