.container.Absolute-Center.is-Responsive
  .row
    %h4.center-align Login into your account
    .col.s12.m4.l2
    .card.col.s12.m4.l8
      .card-content
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f|
          .form-inputs
            = f.input :email, required: false, autofocus: true
            = f.input :password, required: false
            / = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            %br/

          .form-actions.center-align
            = f.button :submit, "Log in"
      .card-action.center-align
        = render "devise/shared/links"
