%p Hello #{@name},
%p We are sorry to inform you that your order for today has been cancelled.
%p You can place your order again.
%p The time window has been extended for 15 minutes from now.

%b Recommended Vendors:
%table{ style: 'cellspacing: 20px cellpadding: 20px; border-collapse: collapse; border: 1px solid #ddd;' }
  %tr
    %th{ style: 'padding: 15px;  border: 1px solid #ddd;' } Vendor
    %th{ style: 'padding: 15px;  border: 1px solid #ddd;' } Minimum order
    %th{ style: 'padding: 15px;  border: 1px solid #ddd;' }
    - @terminals.each do |terminal|
      %tr
      %td{ style: 'padding: 10px; font-weight: bold' } #{terminal.name}
      %td{ style: 'padding: 10px; font-weight: bold' } ₹ #{ terminal.min_order_amount }
      %p= link_to 'Place Order', new_terminal_order_url(terminal.id), style: 'background-color: DodgerBlue; color: white;font-size: 10px; padding: 10px; margin: 4px; text-decoration: none; border-radius: 4px;'
    %br

%p Place your order by signing in: 
%p= link_to 'Sign In',  new_user_session_url, style: 'background-color: #4CAF50; color: white;font-size: 10px; padding: 10px; margin: 4px; text-decoration: none; border-radius: 4px; font-size: 15px;'

%p Have a great day!!!
%p Regards,
%p The hunger terminal team!