.container.Absolute-Center.is-Responsive.terminal
  .row
    .col-md-3
    .col-md-6  
      .panel.panel-success
        .panel-heading
          .panel-title 
            -if params[:action] == 'new'
              .h3.text-center.strong Add New Vendor
            -else
              .h3.text-center.strong Edit Details of #{@terminal.name}
        .panel-body.terminal    
          .logoupload.text-center
            = f.file_field :image, onchange: "validateFiles(this);", |
              data: { max_file_size: 1.megabytes }                    |
            = f.label :remote_image_url, "Upload logo of vendor"
          .form-group
            .col-md-6  
              = f.input :name, label: "Name", placeholder: 'Name'
            .col-md-6  
              = f.input :landline, label: "Landline", input_html: { maxlength: 11 }, placeholder: '02000000000'  
          -if params[:action] == 'new'
            .form-group
              .col-md-6    
                = f.input :payment_made, label: "Payment made", class: "number", placeholder: 'advance,ex.1000'
              .col-md-6  
                = f.input :min_order_amount, label: "Min order amount",required:true, placeholder: 'min order amount,ex.200'
            .form-group
              = f.input :email, label: "Email", placeholder: 'abc@gmail.com'
          -else
            .form-group
              .col-md-6
                = f.input :email, label: "Email", placeholder: 'abc@gmail.com'
              .col-md-6  
                = f.input :min_order_amount, label:"Min order amount", required:true, placeholder: 'min order amount,ex.200'
          %a.btn.btn-info{"data-toggle" => "collapse", :href => "#demo"} HAVE GSTIN
          #demo.collapse
            .form-group
              .col-md-8
                = f.input :gstin, label: "GSTIN", placeholder: '00AAAAA0000A1Z2'
              .col-md-4
                = f.input :tax, label: "GST", placeholder: '10'
     
          .csvfileupload.text-center
            = f.input :CSV_menu_file, as: :file
            = link_to 'Sample Menu CSV', menu_items_download_csv_path
          .submit.text-center
            = f.button :submit, class: "btn btn-success"