= stylesheet_link_tag 'terminals'
= javascript_include_tag 'terminals' 
%table{:align => "center"}
  %tbody
    %tr
      %th Id
      %th Name
      %th Landline
    - @terminal.each do |object|
      %tr
      %td= object.id
      %td= object.name
      %td= object.landline
      %td= link_to "Show", terminal_path(object.id)
      %td= link_to "Edit", edit_terminal_path(object.id)
      %td= link_to "Destroy", terminal_path(object.id), method: :delete,data: {confirm: 'Are  you sure to delete'}
      %td
        .container
          = form_tag import_terminal_path(object.id),multipart:true do
            = file_field_tag :file, accept: '.csv'
            = submit_tag "Import CSV"