#container 
  .row
  .col-sm-6.col-sm-offset-3
    #imaginary_container
      %form{action:terminals_path}
        .input-group.stylish-input-group
          %input.form-control{placeholder:"Search",type:"text",name:"search"}/
          %span.input-group-addon
            %button{type:"submit"}
              %span.glyphicon.glyphicon-search
.w3-container
  .w3-responsive
    %table.w3-table-all.w3-hoverable.w3-centered
      %tbody
        %tr
          %th Sr No.
          %th Name
          %th Landline
          %th Show
          %th Edit
          %th Delete
          %th CSV upload
        - if !@terminal.nil?
          - @terminal.each_with_index do |object,i|
            %tr
            %td.w3-large= i+1
            %td.text-center.w3-large= object.name
            %td= object.landline
            %td= link_to "Show", terminal_path(object.id), class:"btn btn-success"
            %td= link_to "Edit", edit_terminal_path(object.id), class:"btn btn-info"
            %td= link_to "Delete", terminal_path(object.id),method: :delete,data: {confirm: 'Are  you sure to delete'}, class:"btn btn-danger"
            %td
              .container
                = form_tag import_terminal_path(object.id),class:"form-inline",multipart:true do
                  = file_field_tag :file, accept: '.csv',class:"form-group"
                  = submit_tag "Import",name:nil,class:"btn btn-default go inline" 
        -else
          - @terminal_search.each_with_index do |object,i|
            %tr
            %td.w3-large= i+1
            %td.text-center.w3-large= object.name
            %td= object.landline
            %td= link_to "Show", terminal_path(object.id), class:"btn btn-success"
            %td= link_to "Edit", edit_terminal_path(object.id), class:"btn btn-info"
            %td= link_to "Delete", terminal_path(object.id),method: :delete,data: {confirm: 'Are  you sure to delete'}, class:"btn btn-danger"
            %td
              .container
                = form_tag import_terminal_path(object.id),class:"form-inline",multipart:true do
                  = file_field_tag :file, accept: '.csv',class:"form-group"
                  = submit_tag "Import",name:nil,class:"btn btn-default go inline" 


