.container
  #searchcontainer 
    .row
    .col-sm-6.col-sm-offset-3
      #imaginary_container
        %form{action:company_terminals_path(params[:company_id])}
          .input-group.stylish-input-group
            %input.form-control{placeholder:"Search",type:"text",name:"search"}/
            %span.input-group-addon
              %button{type:"submit"}
                %span.glyphicon.glyphicon-search
    %a.btn.btn-info{:href => "/companies/#{current_user.company_id}/terminals/new",style:"margin-top: 20px; margin-left: 50px;"} New Terminal
    =link_to "selected terminal", selection_path(params[:company_id]),class:"btn btn-info"
  #indexcontainer
    .table-responsive
      %table.table-hover
        %tbody
          %tr
            %th.text-center Sr No.
            %th.text-center Name
            %th.text-center Landline
            %th.text-center Edit Terminal
            %th.text-center Delete Terminal
            %th.text-center Status
          -@terminals.each_with_index do |object,i|
            %tr
            %td.text-center= i+1
            %td.text-center= link_to object.name, company_terminal_path(params[:company_id],object.id)
            %td.text-center= object.landline
            %td.text-center= link_to "Edit", edit_company_terminal_path(params[:company_id],object.id), class:"btn btn-info"
            %td.text-center= link_to "Delete", company_terminal_path(params[:company_id],object.id),method: :delete,data: {confirm: 'Are  you sure to delete'}, class:"btn btn-dangers" 
            %td
              =link_to company_terminal_path(params[:company_id],object.id,'terminal[is_active]' =>is_inactive_object?(object)), method: :patch, data: {confirm: 'Are you sure?'} do 
                -if object.is_active
                  .text-center
                    %button.btn.btn-success{:type=> "button"}
                      %span.glyphicon.glyphicon-ok-circle>
                -else
                  .text-center
                    %button.btn.btn-danger{:type=> "button"}
                      %span.glyphicon.glyphicon-remove-circle>        
              
  .text-center
    = paginate @terminals 