.container
  .row 
    .searchcontainer
      .col-md-2
      .col-md-7
        %form{action:company_terminals_path}
          .input-group.stylish-input-group
            %input.form-control{placeholder:"Search",type:"text",name:"search"}/
            %span.input-group-addon{align:"center"}
              %button{type:"submit"}
                %span.glyphicon.glyphicon-search 
      .col-md-3   
        .pull-left
          = link_to 'New Terminal', new_company_terminal_path, class: "btn btn-success"

  -if !@terminals.empty?        
    .row
      .col-md-1
      .col-md-10
        .table-responsive
          %table.table-hover.table-bordered.terminals_listing_table
            %tbody
              %tr
                %th.text-center #
                %th.text-center Name
                %th.text-center Landline
                %th.text-center Status
                %th.text-center Edit Terminal
                %th.text-center Actions
              - @terminals.each_with_index do |object,i|
                %tr
                %td.text-center= i+1
                %td.text-center= link_to object.name, terminal_menu_items_path(object)
                %td.text-center= object.landline
                %td.text-center= object.active ? "active" : "inactive" 
                
                %td.text-center
                  = link_to "Edit", edit_terminal_path(object)
            

                %td.text-center
                  =link_to terminal_path(object,'terminal[active]' =>is_inactive_object?(object)), method: :patch, data: {confirm: 'Are you sure?'} do 
                    -if object.active
                      .text-center
                        %button.btn.btn-success{:type=> "button"}
                          %span.glyphicon.glyphicon-ok-circle>
                    -else
                      .text-center
                        %button.btn.btn-danger{:type=> "button"}
                          %span.glyphicon.glyphicon-remove-circle>
  -else
    .alert.alert-danger
      No record is found!!                         
    .text-center
      = paginate @terminals 
