= stylesheet_link_tag 'terminals'
= simple_nested_form_for @terminal,:html => {:multipart => true}  do |f|
  -if flash[:error].present?
    =flash[:error]
  = f.input :name, label: 'Your shop name',placeholder: 'KFC' 
  %br
  = f.input :landline, placeholder: '022-12365987'
  %br
  %table#tasks
    = f.simple_fields_for :menu_items, :wrapper => false do |menu_form|
      %tr.fields
        %td= menu_form.input :name
        %td= menu_form.input :price
        %td= menu_form.input :veg, as: :boolean
        %td= menu_form.link_to_remove "Remove menuitem"
  = f.link_to_add "Add a menuitem", :menu_items, "data-target" => "#tasks"
  %br
  = f.button :submit


