.modal-dialog{role: 'document'}
  .modal-content
    .modal-header.right-align
      .row
        .col.s12.m10
          %h5.modal-title.name_color.center-align What foodies think about #{@item.name}
          %span.center-align
            = render 'orders/show_rating_stars', rating: rating(@item)
        .col.s12.m2
          %button.close.modal-close{"aria-label" => "Close", "data-dismiss": "modal", :type => "button"}
            %span{'aria-hidden': 'true'}X
    .modal-body
      -if @reviews.empty?
        %h6 No comments yet !!!
      -else
        %ol
          - @reviews.each_with_index do |review|
            %br
            -if can?(:destroy, review)
              %li.li_style
                %span.bold_txt
                  = review.reviewer.name
                %span
                  = render 'orders/show_rating_stars', rating: review.rating  
                %span.comment_italic
                  = review.comment
                %br
                %span.date_color
                  = review.created_at.strftime("%b %d, %Y")
                  = link_to reviews_path(id: review.id,item_id: @item.id), method: :delete, id:"delete", remote: true do
                    %i.material-icons.icon_color{class: 'delete_icon delete_forever',"aria-label"   => "Delete Reviews"}delete_forever
                %hr
            -else
              %li.li_style
                %span.bold_txt
                  = review.reviewer.name
                %span
                  = render 'orders/show_rating_stars', rating: review.rating  
                %span.comment_italic
                  = review.comment
                %br 
                %span.date_color
                  = review.created_at.strftime("%b %d, %Y")
                %hr
#enter_review.modal.fade{'aria-labelledby' => 'Enter Review', role: 'dialog', tabindex: '-1'}
