.table-responsive
  %table.table-hover.table-bordered.pdf_table
    %tbody
      %tr
        %th.align.text-center Sr No.
        %th.align.text-center Name
        %th.align.text-center
          Total Order Price
          %h5.text-center (incl. of all taxes)
        %th.align.text-center Subsidy
        %th.align.text-center Extra Charges
        %th.align.text-center
          Cost To Employee
          %h5.text-center (incl. of all taxes)
    
    - users.each_with_index do |user,i|
      %tr  
      %td.align.text-center= i+1
      -if !pdf?(response.content_type)
        %td.align.text-center= link_to user.name, history_reports_user_path(user)
      -else
        %td.align.text-center= user.name
      %td.align.text-center ₹ #{user.total}
      %td.align.text-center ₹ #{user.subsidy}
      %td.align.text-center ₹ #{user.extra_charges}
      %td.align.text-center= round_of_total(user.total - user.subsidy + user.extra_charges)
