.container
  %h3.text-center Employee : #{@name}
  .table-responsive
    %table.table-hover.table-bordered
      %tbody
        %tr
          %th.text-center Sr No.
          %th.text-center Order Date
          %th.text-center Order Details
          %th.text-center Total Order Price
          %th.text-center Subsidy
          %th.text-center Tax
          %th.text-center Cost To Employee
        - @orders.each_with_index do |order, i|
          %tr  
          %td.text-center= i + 1 
          %td.text-center= order.date
          %td.text-center= link_to 'See Order Details', order_detail_path(order_id: order.id)
          %td.text-center= "₹ #{order.total_cost}"
          %td.text-center= "₹ #{order.discount}"
          %td.text-center= "₹ #{order.tax}"
          %td.text-center= "₹ #{order.total_cost - order.discount + order.tax}"
#order_details.modal.fade{"aria-labelledby" => "Order Details", :role => "dialog", :tabindex => "-1"}
