.container
  .card
    -if !@users.empty?
      %h3.center-align Employee's Reports
      .center-align
        = link_to 'Todays Orders', todays_reports_users_path, class: "btn btn-info"
        = link_to 'Last Month Orders', history_reports_users_path, class: "btn btn-info"
      .table-responsive
        %table.table-hover.table-bordered.employees_report_table
          %tbody
            %tr
              %th.text-center Sr No.
              %th.text-center Emp.ID
              %th.text-center Name
              %th.text-center
                Total Order Price
                %h6.text-center (incl. of all taxes)
              %th.text-center Subsidy
              %th.text-center Extra Charges
              %th.text-center
                Cost To Employee
                %h6.text-center (incl. of all taxes)
            - @users.each_with_index do |user, i|
              %tr  
              %td.text-center= i + 1
              %td.text-center= user.id
              %td.text-center= link_to user.name, history_reports_user_path(user)
              %td.text-center ₹ #{user.total}
              %td.text-center ₹ #{user.subsidy}
              %td.text-center ₹ #{user.extra_charges}
              %td.text-center ₹ #{user.total + user.extra_charges - user.subsidy}
    -else
      .alert.alert-danger
        No record is found!!
