.indexcontainer
  %h3.text-center Employee's Reports
  .table-responsive
    %table.table-hover.table-bordered
      %tbody
        %tr
          %th.text-center Sr No.
          %th.text-center Emp.ID
          %th.text-center Name
          %th.text-center TotalOrderPrice 
          %th.text-center Subsidy
          %th.text-center CTE

        - @users.each_with_index do |user,i|
          %tr  
          %td.text-center= i+1
          %td.text-center= user.id
          %td.text-center= user.name  
          %td.text-center ₹ #{user.total}
          %td.text-center ₹ #{user.subsidy}
          %td.text-center ₹ #{user.total - user.subsidy}
