-if !@users.empty?  
  .container
    %h3.text-center Employee's Reports
    = link_to 'Todays Orders', reports_employees_todays_orders_path(todays_orders: "Todays orders"), class: "btn btn-info"
    = link_to 'Last Month Orders', reports_monthly_all_employees_path(last_month_orders: "last months orders"), class: "btn btn-info"
    .table-responsive
      %table.table-hover.table-bordered.employees_report_table
        %tbody
          %tr
            %th.text-center Sr No.
            %th.text-center Emp.ID
            %th.text-center Name
            %th.text-center TotalOrderPrice 
            %th.text-center Subsidy
            %th.text-center CTE

          - @users.each_with_index do |user,i|
            %tr  
            %td.text-center= i+1
            %td.text-center= user.id
            %td.text-center= link_to user.name, reports_individual_employee_path(user_id: user.id) 
            %td.text-center ₹ #{user.total}
            %td.text-center ₹ #{user.subsidy}
            %td.text-center ₹ #{user.total - user.subsidy}


