-if (response.content_type == "application/pdf")
  %h2.pdf_h2.text-center Josh Software Private Limited

-else
.container
  -if !@users.empty?
    -time =Time.now - 1.month
    %h3.pdf_h3.text-center #{time.strftime("%B")}, #{time.year} Employee's Reports
    -if (response.content_type != "application/pdf")
      = link_to "Download_pdf", history_reports_users_path(:format => 'pdf'), class: "btn btn-success"
    .table-responsive
      %table.table-hover.table-bordered.pdf_table
        %tbody
          %tr
            %th.align.text-center Sr No.
            %th.align.text-center Name
            %th.align.text-center
              TotalOrderPrice
              %h5.text-center (incl. of all taxes)
            %th.align.text-center Subsidy
            %th.align.text-center Extra Charges
            %th.align.text-center
              CTE
              %h5.text-center (incl. of all taxes)

          - @users.each_with_index do |user,i|
            %tr  
            %td.align.text-center= i+1
            -if (response.content_type != "application/pdf")
              %td.align.text-center= link_to user.name, history_reports_user_path(user)
            -else
              %td.align.text-center= user.name
            %td.align.text-center ₹ #{user.total}
            %td.align.text-center ₹ #{user.subsidy}
            %td.align.text-center ₹ #{user.extra_charges}
            %td.align.text-center= round_of_total(user.total - user.subsidy + user.extra_charges)
  -else
    .alert.alert-danger
      No record is found!!