%h2#h2.text-center Josh Software Private Limited

.container
  -if !@terminals.empty?  
    %h3#h3.text-center #{current_user.company.name.capitalize} Vendors' Today's Reports
    %h3#h3.text-center Date: #{ Time.zone.now.strftime("%d %B, %Y") }
    .table-responsive
      %table.table-hover.table-bordered.terminals_report_table#table
        %tbody
          %tr
            %th.align.text-center Sr No.
            %th.align.text-center Name
            %th.align.text-center Total 
            %th.align.text-center MenuItems
            %th.align.text-center Quantity
            -terminal_name = nil
            -i=0
          - @terminals.each do |terminal|
            %tr  
            -unless terminal_name == terminal.name
              %td.align.text-center= i+1
              %td.align.text-center= terminal.name 
              -i = i+1
            -else
              %td.align.text-center
              %td.align.text-center  
            %td.align.text-center ₹ #{terminal.total}
            %td.align.text-center= terminal.menu_item_name
            %td.align.text-center= terminal.quantity
            -terminal_name = terminal.name
    %h3#h3.text-center Total Order From All Terminals
    -grand_total = 0        
    .table-responsive
      %table.table-hover.table-bordered.terminals_report_table#table
        %tbody
          %tr
            %th.align.text-center Sr No.
            %th.align.text-center Name
            %th.align.text-center
              Total
              %h6.text-center (incl. of all taxes)
          -@todays_terminals.each_with_index do |terminal,i|
            %tr
            %td.align.text-center= i+1
            %td.align.text-center= terminal.name
            %td.align.text-center ₹ #{terminal.total}
            -grand_total = grand_total + terminal.total
    %h3#h3.text-center Todays Net Total = ₹ #{grand_total}/-
  -else
    .alert.alert-danger
      No record is found!!