.container
  -if !@terminals.empty?  
    %h3.pdf_heading.text-center #{current_user.company.name.capitalize} Vendors' Today's Reports
    %h4.pdf_heading.text-center Date: #{ Time.current.strftime("%d %B, %Y") }

    -if !pdf?(response.content_type)
      = link_to 'last month report', history_reports_terminals_path, class: 'btn btn-info'
      = link_to 'print',  todays_reports_terminals_path(:format => 'pdf' ), class: 'btn btn-info'
    .table-responsive
      %table.table-hover.table-bordered.terminals_report_table.pdf_table
        %tbody
          %tr
            %th.align.text-center Sr No.
            %th.align.text-center Name
            %th.align.text-center Total
            %th.align.text-center MenuItems
            %th.align.text-center Quantity
            -terminal_name = nil
            -i=0
          - @terminals.each do |terminal|
            %tr  
            -unless terminal_name == terminal.name
              %td.align.text-center= i+1
              %td.align.text-center= terminal.name
              -i = i+1
            -else
              %td.align.text-center
              %td.align.text-center
            %td.align.text-center ₹ #{terminal.total}
            %td.align.text-center= terminal.menu_item_name
            %td.align.text-center= terminal.quantity
            -terminal_name = terminal.name
    %h4.pdf_heading.text-center Total Order From All Terminals
    -grand_total = 0        
    .table-responsive
      %table.table-hover.table-bordered.terminals_report_table.pdf_table
        %tbody
          %tr
            %th.align.text-center Sr No.
            %th.align.text-center Name
            %th.align.text-center
              Total
              %h5.text-center (incl. of all taxes)
          -@todays_terminals.each_with_index do |terminal,i|
            %tr
            %td.align.text-center= i+1
            %td.align.text-center= terminal.name
            %td.align.text-center= terminal.total
            -grand_total = grand_total + terminal.total
    %h4.pdf_heading.text-center Todays Net Total = #{grand_total}/-
  -else
    .alert.alert-danger
      No record is found!!
