!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TheHungerTerminal
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    -if user_signed_in?  && current_user.role == "company_admin"
      =render  "home/sidebar"
      =render "home/navbar"
    -else
      =render "home/navbar"
    - unless flash.empty?
      %script
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          toastr['#{type}']('#{f[1]}');
          / toastr.remove()
          / toastr.options.closeButton = true;
          / toastr.options.closeDuration = 300;
          / toastr.options.timeOut = 30;
          / toastr.options.extendedTimeOut = 300;
          / toastr.clear();
    = yield 
    -if user_signed_in?
      .container
        .row
          .col-md-5.col-sm-5
          .col-md-2.col-sm-2
            %ul.pager
              %li.previous
                =link_to "back",:back, :class => " glyphicon glyphicon-arrow-left", :id => "backButton"
                
          .col-md-5.col-sm-5   
  %footer.container-fluid.text-center
    %p © the hunger terminal

