<!DOCTYPE html>
<html>
  <head>
    <title>TheHungerTerminal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="logo" href="#">The Hunger Terminal</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
            <li>
              <% if !user_signed_in? %>
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Login
                <% end %>  
              <% else %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                <% end %> 
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- <div class="container"> -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <%= yield %>
    
    <!-- </div> -->
    <!-- <div class = "error messages"> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> -->
    
    <!-- <div class="footer center"> -->
    <footer class="container-fluid text-center">
      <p>&copy; the hunger terminal</p>
    </footer>
    <!-- </div> -->
  </body>
</html>
