!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport",content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"}
    %title TheHungerTerminal
    = csrf_meta_tags
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    -if user_signed_in?  && current_user.role == "company_admin"
      =render  "home/sidebar"
      =render "home/navbar"
    -else
      =render "home/navbar"
    -unless request.original_url == root_url
      .container#pdf_link
        %ol
          = render_breadcrumbs
    - unless flash.empty?
      %script
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          toastr['#{type}']('#{f[1]}');
          / toastr.remove()
          / toastr.options.closeButton = true;
          / toastr.options.closeDuration = 300;
          / toastr.options.timeOut = 3000;
          / toastr.options.extendedTimeOut = 300;
    = yield 
    -if user_signed_in? && request.original_url != root_url
      =render "layouts/backlink"
  %footer.container-fluid.text-center
    %p © the hunger terminal

