!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TheHungerTerminal
    = csrf_meta_tags
    %link{:href => "http://www.w3schools.com/lib/w3.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    
  %body
    %nav.w3-sidenav.w3-black
      %i.fa.fa-person.w3-xlarge

      %a.w3-padding-16{:href => "#"}
        %i.fa.fa-user.w3-xlarge
        Employee
      %a.w3-padding-16{:href => "#"}
        %i.fa.fa-edit.w3-xlarge
        Order
      %a.w3-padding-16{:href => "#"}
        %i.fa.fa-file.w3-xlarge
        Report
      %a.w3-padding-16{:href => "#"}
        %i.fa.fa-cutlery.w3-xlarge
        Terminal

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a#logo.navbar-brand{:href => "#"} The Hunger Terminal
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"}
                Home
                %span.sr-only (current)
            %li
              %a{:href => "#"} About
            %li
              - if !user_signed_in?
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-log-in
                  Login
              - else
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-log-out
                  Logout
    - unless flash.empty?
      %script
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          toastr['#{type}']('#{f[1]}');
    
        
    = yield
    %footer.container-fluid.text-center
      .w3-section.w3-padding-top.w3-large
        %a.w3-hover-white.w3-hover-text-indigo.w3-show-inline-block{:href => "#"}
          %i.fa.fa-facebook-official
        %a.w3-hover-white.w3-hover-text-purple.w3-show-inline-block{:href => "#"}
          %i.fa.fa-instagram
        %a.w3-hover-white.w3-hover-text-yellow.w3-show-inline-block{:href => "#"}
          %i.fa.fa-snapchat
        %a.w3-hover-white.w3-hover-text-red.w3-show-inline-block{:href => "#"}
          %i.fa.fa-pinterest-p
        %a.w3-hover-white.w3-hover-text-light-blue.w3-show-inline-block{:href => "#"}
          %i.fa.fa-twitter
        %a.w3-hover-white.w3-hover-text-indigo.w3-show-inline-block{:href => "#"}
          %i.fa.fa-linkedin
          

    

